<% if signed_in? %>
<aside class="span6 offset3">
	<section>
		<%= render 'shared/user_info' %>
	</section>

	<%= render 'shared/revenue_form' %>

</aside>
<% else %>
<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<div class="container">
				<%= image_tag("bolo.jpg" , alt: "bolo")%>
				<div class="carousel-caption">
					<div class="center">
						<h1>É muito fácil</h1>
						<p class="lead">É muito fácil adicionar aquelas receitas de sua vó na internet, as receitas feitas nos finais de semana com sua família e compartilhar elas com todos pelo Receitas Online.</p>              	
						<p class="lead">Você pode conhecer novas receitas e criar sua conta Agora é muito fácil.</p>

						<p><%= link_to "Crie sua conta", signup_path, class: "btn btn-large btn-primary" %></p>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<%= image_tag("receitas.jpg" , alt: "Receitas Online")%>
			<div class="container">
				<div class="carousel-caption">
					<h1>As melhores Receitas Aqui!</h1>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<% end %>







