<% provide(:title, "Sign in") %>
<h1>Sign in</h1>
<div class="row">
<%= image_tag("cheff.jpg" , alt: "Receitas Online")%>
	<div class="span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>
		<%= f.label :email %>
		<%= f.text_field :email %>
		<%= f.label :password %>
		<%= f.password_field :password %>
		<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
		<% end %>
		<p>Você é novo aqui? <%= link_to "Cadastre-se Agora!", signup_path %></p>
	</div>
</div>

