<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
	<%= image_tag("cheffCriar.jpg" , alt: "Receitas Online")%>
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.label :name, "Nome" %>
		<%= f.text_field :name %>
		<%= f.label :email %>
		<%= f.text_field :email %>
		<%= f.label :password, "Senha" %>
		<%= f.password_field :password %>
		<%= f.label :password_confirmation, "Confirmação de senha" %>
		<%= f.password_field :password_confirmation %>
		<%= f.submit "Criar minha Conta", class: "btn btn-large btn-primary"%>
		<% end %>
	</div>
</div>


