<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<div class="span8">
    <% if @revenues.any? %>
      <h3>Receitas (<%= @revenues.count %>)</h3>
      <ol class="revenues">
      	<%= render @revenues%>
      </ol>
      <%= will_paginate @revenues %>
    <% end %>
  </div>
</div>


