 <div class="row">
 	<aside class="span4">
 		<section>
 			<h1>
 				<%= image_tag(@revenue.image , alt: @revenue.name)%>
 			</h1>
 		</section> 
 	</aside>

 	<div class="span8">
 		<%= form_for(@revenue) do |f| %>
 		<%= render 'shared/error_messages', object: f.object %>
 		<div class="field">
 			<%= f.label :name %>
 			<%= f.text_field :name %>
 			<%= f.label :timePreparation %>
 			<%= f.text_field :timePreparation %>
 			<%= f.select(:category_id, options_from_collection_for_select(Category.all, :id, :name))%>
 			<%= f.label :ingredients %>
 			<div class="alert alert-warning">ATENÇÃO: Cada ingrediente deve estar em uma linha!</div>
 			<%= f.label :ingredients %>
 			<%= f.text_area :ingredients, placeholder: "Digite os ingredientes" %>
 			<%= f.label :modoPreparo %>
 			<%= f.text_area :preparation, placeholder: "Digite o modo de preparo" %> 
 		</div>
 		<%= f.submit "Post", class: "btn btn-large btn-primary" %>
 		<% end %>
 	</div>
 </div>