<li>
  <span class="content"><%= revenue.name %></span>
  <%= image_tag revenue.image.url(:thumb)%>
  <span class="timestamp">
    Postado <%= time_ago_in_words(revenue.created_at) %> ago.
  </span>
  <span><%= link_to "Editar", edit_user_path(current_user) %></span>
  <span><%= link_to "Deletar", edit_user_path(current_user) %></span>
</li>