<li>
  <span class="content"><%= revenue.name %></span>
  <%= image_tag revenue.image.url(:thumb)%>
  <span class="timestamp">
    Postado <%= time_ago_in_words(revenue.created_at) %> ago.
  </span>
  <% if current_user?(revenue.user) %>
  <span><%= link_to "Editar", edit_revenue_path(revenue)%></span>
  <span>  <%= link_to "delete", revenue, method: :delete,
  data: { confirm: "You sure?" },
  title: revenue.name %>
  <% end %>
</span>
</li>