 <% provide(:title, @category.name) %>
 <div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= image_tag("mostrar.jpg" , alt: "Sobremesas")%>
      </h1>
    </aside>
    <div class="span8">
     <h3>Receitas <%= @category.name%> (<%= @revenues.count %>)</h3>
     <% if @revenues.any? %>

     <% for revenue in @revenues %>  
     <div class="itens">
      <div class="background"></div> 

      <a><%= link_to image_tag(revenue.image.url(:thumb), alt: revenue.name), index_path(:id=>revenue.id) %></a> 
      <div class="content">

        <strong><%= link_to revenue.name, index_path(:id=>revenue.id) %></strong>

      </div>

      <div class="comments-link">
        <p><%= revenue.popularidade%> votos</p>
      </div>
    </div>
    <% end %> 
    <% elsif signed_in?
       %>
      <strong><%= link_to "Seja o primeiro a Cadastrar uma receita  de "+ @category.name, root_path %></strong>
     <%else%>
      <strong><%= link_to "Realize o login e Seja o primeiro a Cadastrar uma receita de "+ @category.name, signin_path %></strong>
    <% end %> 
    <p> <%= will_paginate @revenues %></p>
  </div>  
</div>

