<header class="navbar-wrapper">
	<div class="container">

    <div class="navbar navbar-inverse">
      <%= image_tag("logo2.png" , alt: "Receitas Online")%>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path%></li>
          <li><%= link_to "Help", help_path%></li>
          <li><%= link_to "Signup", signup_path%></li>
        </ul>
      </nav>
      <div class="navbar-inner">

        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><%= link_to "Almoço/Jantar", '#'%></li>
            <li><%= link_to "Sobremesas", '#'%></li>
            <li><%= link_to "Lanches", '#'%></li>
            <li><%= link_to "Bebidas", '#'%></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->

  </div> <!-- /.container -->
</header>