<header class="navbar-wrapper">
	<div class="container">

    <div class="navbar navbar-inverse">
      <%= image_tag("logo2.png" , alt: "Receitas Online")%>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path%></li>
          <li><%= link_to "Help", help_path%></li>
          <% if signed_in? %>
            <% if current_user.admin? %>
                <li><%= link_to "Usuários", users_path %></li>
                <li><%= link_to "Receitas", lists_path %></li>
            <% end %>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Perfil", current_user %></li>
              <li><%= link_to "Editar", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Sign out", signout_path, method: "delete" %>
              </li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
      <div class="navbar-inner">

        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><%= link_to "Almoço/Jantar",revenues_path(:name=>'Almoco/Jantar')%></li> <!--categories_path ("Almoço/Jantar")-->
            <li><%= link_to "Sobremesas", revenues_path(:name=>'Sobremesa')%></li>
            <li><%= link_to "Lanches", revenues_path(:name=>'Lanches')%></li>
            <li><%= link_to "Bebidas", revenues_path(:name=>'Bebidas')%></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->

  </div> <!-- /.container -->
</header>